body {
  background-color: black;
  color: white;
}

header{
       position: sticky;
       top: 0px;
       background-color: black;
}
header img,h1{
          display: inline-block;
          margin-right:30px;
       }
header h1{
          color: white;
}

aside{
  float: left;
  width:250px;
  height: auto;
  margin-right:30px;
  background: linear-gradient(black,red);
  background-repeat:no-repeat;
  background-attachment: local;
  margin-bottom:0px;
}

h1{
  font-size:200%
}




a:link{
  color: red;
}

a:hover{
  text-decoration: none;
}

.redtext:hover{
    color: red;
  }
  .greentext:hover{
     color: green;
  } 

.wrapper {
  display: inline-block;
  justify-content: space-around;
  text-align: center;
}
.wrapper p {
    text-align: center;
}
.wrapper h3{
    text-align: center;
}

.wrapper img{
  box-shadow: 5px,5px,0px, green;
}


