body {
  background-color: black;
  color: white;
}

h1{
  font-size:200%
}






a:link{
  color: red;
}

a:hover{
  text-decoration: none;
}

.redtext:hover{
    color: red;
  }
  .greentext:hover{
     color: green;
  } 

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper p {
    text-align: center;
}



