h1 {
  font-family: Times;
  border-bottom: 1px solid blue;
}


.wrapper {
  display: flex;
}
.skull img{
  width: 100%;
}
.skull p {
    text-align: center;
}

.ceasar img{
  width: 100%;
}
.ceasar p {
    text-align: center;
}
