h1 {
  font-family: Times;
  border-bottom: 1px solid blue;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.skull {
  grid-column: 2 / 4;
  grid-row: 1;
}

.ceasar {
  grid-column: 1;
  grid-row: 1 / 3;
}
